@use "../config" as *;
@use "../components/mixins" as *;

.footer {
    padding-top: 1rem;
    background-color: $primary;
}

.contact-box {
    position: relative;

    &_icon {
        width: 2rem;
        stroke: $primary;
        padding-top: 0.5rem;

        i {
            height: 100%;
            width: 100%;
        }

      @media (max-width: 767.98px) {
            width: 4rem;
        }
    }

    &_info {
        padding: 0.4rem;
        font-weight: 600;

        &_title {
            color: $secondary;
            text-decoration: none;
            font-size: 1rem;

            @media (max-width: 767.98px) {
                font-size: 1.4rem;
            }
        }

        &_subtitle {
            color: lightgrey;
            text-decoration: none;
            font-size: 0.8rem;

            @media (max-width: 767.98px) {
                font-size: 1rem;
            }
        }
    }
}

.footer-sm {
    a {
        color: $secondary;

        i {
            font-size: 1rem;
            margin-left: 1rem;

            @media (max-width: 767.98px) {
                font-size: 1.6rem;
            }
        }

        img {
            margin-left: 1rem;
        }
    }
}

.campany-list {
    display: block;
    position: relative;
    list-style-type: none;

    li {
        margin-bottom: 0.5rem;
        text-decoration: none;

        a {
            text-decoration: none;
        }
    }
}

.footer-bottom {
    background-color: rgb(0, 0, 0);

    &_copyright {
        color: lightgrey;
        font-weight: 400;

        a {
            text-decoration: none;
        }
    }
}

.back-to-top {
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 1.875rem;
    bottom: 1.875rem;
    z-index: 9999;

    i {
        color: #fff;
        font-size: 1rem;
        @include center;
    }
}
