@use '../config' as *;
@use '../components/mixins' as *;

.footer {
  padding-top: 1rem;
  background-color: $primary;
}

.contact-box {
  position: relative;

  &_icon {
    width: 2rem;
    stroke: $primary;
    padding-top: .5rem;

    i {
      height: 100%;
      width: 100%;
    }

    @include media-breakpoint-up(sm) {
      width: 4rem;
    }
  }

  &_info {
    padding: .4rem;
    font-weight: 600;

    &_title {
      color: $white;
      text-decoration: none;
      font-size: 1rem;

      @include media-breakpoint-up(sm){
        font-size: 1.4rem;
      }
    }

    &_subtitle {
      color: lightgrey;
      text-decoration: none;
      font-size: .8rem;

      @include media-breakpoint-up(sm){
        font-size: 1rem;
      }
    }
  }
}

.footer-sm {
  a {
    color: $white;

    i {
      font-size: 1rem;
      margin-left: 1rem;

      @include media-breakpoint-up(sm){
        font-size: 1.6rem;
      }
    }

    &:hover {
      color: $primary;
    }
  }
}

.campany-list {
  display: block;
  position: relative;
  list-style-type: none;

  li {
    margin-bottom: .5rem;
    text-decoration: none;

    a {
      color: $white;
      text-decoration: none;

      &:hover {
        color: $primary;
      }
    }
  }
}

.footer-bottom {
  background-color: $black;

  &_copyright {
    color: lightgrey;
    font-weight: 400;

    a {
      color: lightgrey;
      text-decoration: none;

      &:hover {
        color: $primary;
        text-decoration: underline;
      }
    }
  }
}

.back-to-top {
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 1.875rem;
  bottom: 1.875rem;
  z-index: 9999;

  i {
    color: $white;
    font-size: 1rem;
    @include center;
  }
}