@use "../config" as *;
@use "../components/mixins" as *;

.hero {
    background: $primary;
    padding-top: 10rem;
    width: 100%;
    height: 100%;

    .banner_container {
        padding-bottom: 16.5rem !important;
    }
}

.border-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 6rem;
    border: 0.55rem solid $white;
    border-radius: 50%;
    animation: pulse 1.5s linear infinite;

    &--boarder-1 {
        animation-delay: 1s;
    }

    &--board-2 {
        animation-delay: 1.5s;
    }
}
