//-- Icons --//
@use "../config" as *;

.fa-twitter {
    transition: color 0.30s ease-in-out, background-color 0.30s ease-in-out, border-color 0.30s ease-in-out;

    &:hover {
        color: #00aced;
        transition: color 0.30s ease-in-out, background-color 0.30s ease-in-out, border-color 0.30s ease-in-out;
    }
}

.fa-github {
    transition: color 0.30s ease-in-out, background-color 0.30s ease-in-out, border-color 0.30s ease-in-out;

    &:hover {
        color: #24292e;
        transition: color 0.30s ease-in-out, background-color 0.30s ease-in-out, border-color 0.30s ease-in-out;
    }
}

.fa-youtube {
    transition: color 0.30s ease-in-out, background-color 0.30s ease-in-out, border-color 0.30s ease-in-out;

    &:hover {
        color: #f04944;
        transition: color 0.30s ease-in-out, background-color 0.30s ease-in-out, border-color 0.30s ease-in-out;
    }
}

.fa-spotify {
    transition: color 0.30s ease-in-out, background-color 0.30s ease-in-out, border-color 0.30s ease-in-out;

    &:hover {
        color: #1db954;
        transition: color 0.30s ease-in-out, background-color 0.30s ease-in-out, border-color 0.30s ease-in-out;
    }
}

.fa-discord {
    transition: color 0.30s ease-in-out, background-color 0.30s ease-in-out, border-color 0.30s ease-in-out;

    &:hover {
        color: #7289da;
        transition: color 0.30s ease-in-out, background-color 0.30s ease-in-out, border-color 0.30s ease-in-out;
    }
}
