@use "./config"as *;

//-- Components --//
@use "components/buttons";
@use "components/mixins";
@use "components/text";
@use "components/dropdowns";
@use "components/icons";

//-- Sections --//
@use "sections/portfolio";
@use "sections/footer";

html,
body {
    font-family: Ubuntu, sans-serif;
    background: var(--ch1ll-dark);
}

:root {
    --ch1ll-dark: #001037;
    --ch1ll-yellow: #dee03b;
}

::selection {
    background-color: #002176;
}

::-moz-selection {
    background-color: #002176;
}

a {
    color: rgba(255, 255, 255, 0.55);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    text-decoration: none;
}

a:hover {
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
    background: $primary;
}

::-webkit-scrollbar-thumb {
    background: $secondary;
}

::-webkit-scrollbar-thumb:hover {
    background: $secondary;
}
