// Buttons //
@use "../config" as *;

.btn {
  padding: 7px 20px;
  font-size: 14px;
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer;
  touch-action: manipulation;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  will-change: opacity, transform;

  &:hover {
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
  }

  i {
    margin-inline-end: 16px;
    font-size: 20px;
    vertical-align: bottom;
  }

  .disabled {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.15);

    &:hover {
      cursor: not-allowed;
    }
  }
}

.btn-info {
  box-shadow: 0 10px 20px -10px #59a6ff;
  background: linear-gradient(180deg, #5561FF 0%, #3643FC 100%, #3643FC 100%);

  &:hover {
    background: linear-gradient(180deg, #6B75FF 0%, #535FFF 100%);
  }
}

.btn-primary {
  background: var(--bs-primary);
  box-shadow: 0 10px 20px -10px var(--bs-primary);
  background: linear-gradient(180deg, #5561FF 0%, #3643FC 100%, #3643FC 100%);
}

.btn-secondary {
  background: var(--bs-secondary);
  box-shadow: 0 10px 20px -10px var(--bs-secondary);
  background-image: linear-gradient(180deg, #feff8a 0%, #9ca704 100%);
}

.btn-gray {
  box-shadow: 0 10px 20px -10px var(--bs-gray-700);
  background-image: linear-gradient(180deg, #777777 0%, #4f505c 100%);
}
