@use '../config' as *;

// HR
hr {
  color: $primary;
}

// Display
.display-2 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;

  & .title {
    display: inline-block;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
  }

  & .desc {
    font-size: 1rem;
    display: block;
    margin-top: 1.2rem;
    text-transform: none;

    @include media-breakpoint-up(lg) {
      font-size: 1.4rem;
      display: inline-block;
    }
  }
}

.display-3 {
  font-family: 'Poppins', sans-serif;

  & .title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    background-image: linear-gradient(to right, $primary, $secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include media-breakpoint-up(lg) {
      font-size: 1.8rem;
    }
  }
}

.gradient {
  background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
}
