// Animations //
.animate {
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

.pulse {
  animation-name: pulse;
  -webkit-animation-name: pulse;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.fadeInUp {
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

@keyframes fadeInUp {
  0% {
    margin-top: 10px;
  }

  100% {
    margin-top: 0;
  }
}
