/* Buttons */
.button {
  display: inline-flex;
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
  height: 36px;
  line-height: 1.5px;
  border-radius: 8px;
  padding: 24px;
  font-size: 16px;
  border: 1px solid transparent;
  white-space: nowrap;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer;
  touch-action: manipulation;
  transition: all 3s ease-out;
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-out;
  -o-transition: all 3s ease-out;
  will-change: opacity, transform;
}

.button:hover {
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
}

.button i {
  margin-inline-end: 16px;
  font-size: 20px;
  vertical-align: bottom;
}

.button .disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.button .disabled:hover {
  cursor: not-allowed;
}

/* Button Colors */
.button-blue {
  background-color: transparent;
  color: rgb(107, 114, 207);
  border-color: rgb(107, 114, 207);
  box-shadow: 0 10px 20px -10px rgb(107, 114, 207);
}

.button-blue:hover {
  background-color: rgb(107, 114, 207);
  border-color: rgb(107, 114, 207);
  color: white;
}

.button-yellow {
  background-color: transparent;
  border-color: var(--ch1ll-yellow);
  color: white;
  box-shadow: 0 10px 20px -10px var(--ch1ll-yellow);
}

.button-yellow:hover {
  background-color: var(--ch1ll-yellow);
}

.button-gray {
  background-color: transparent;
  border-color: var(--bs-gray-700);
  color: white;
  box-shadow: 0 10px 20px -10px var(--bs-gray-700);
}

.button-gray:hover {
  background-color: var(--bs-gray-700);
}
