/*!
 * Ch1llest Site v1.0.0 (https://ch1llest.ch1ll.tk/)
 * Copyright 2021 KingCh1ll
 * All rights reserved.
 */
.btn {
  padding: 7px 20px;
  font-size: 14px;
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer;
  touch-action: manipulation;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  will-change: opacity, transform;
}
.btn:hover {
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
}
.btn i {
  margin-inline-end: 16px;
  font-size: 20px;
  vertical-align: bottom;
}
.btn .disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.btn .disabled:hover {
  cursor: not-allowed;
}

.btn-info {
  box-shadow: 0 10px 20px -10px #59a6ff;
  background: linear-gradient(180deg, #5561FF 0%, #3643FC 100%, #3643FC 100%);
}
.btn-info:hover {
  background: linear-gradient(180deg, #6B75FF 0%, #535FFF 100%);
}

.btn-primary {
  background: var(--bs-primary);
  box-shadow: 0 10px 20px -10px var(--bs-primary);
  background: linear-gradient(180deg, #5561FF 0%, #3643FC 100%, #3643FC 100%);
}

.btn-secondary {
  background: var(--bs-secondary);
  box-shadow: 0 10px 20px -10px var(--bs-secondary);
  background-image: linear-gradient(180deg, #feff8a 0%, #9ca704 100%);
}

.btn-gray {
  box-shadow: 0 10px 20px -10px var(--bs-gray-700);
  background-image: linear-gradient(180deg, #777777 0%, #4f505c 100%);
}

hr {
  color: #002584;
}

.display-2 {
  margin: 0.5rem 0rem 0.5rem 0.5rem;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}
.display-2_title {
  display: inline-block;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(#cedf41, #002584);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.display-2_desc {
  font-size: 1rem;
  display: block;
  margin-top: 1.2rem;
  text-transform: none;
}
@media (max-width: 1199.98px) {
  .display-2_desc {
    font-size: 1.4rem;
    display: inline-block;
  }
}

.display-3 {
  font-family: "Poppins", sans-serif;
}
.display-3_title {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  background-image: linear-gradient(#cedf41, #002584);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1199.98px) {
  .display-3_title {
    font-size: 1.8rem;
  }
}

.display-5 {
  font-family: "Poppins", sans-serif;
}
.display-5_title {
  font-family: "Poppins", sans-serif;
  font-size: calc(1.425rem + 2.1vw);
  text-transform: capitalize;
  font-weight: 300;
  line-height: 1.2;
  display: inline-block;
  background-image: linear-gradient(#cedf41, #002584);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1199.98px) {
  .display-5_title {
    font-size: 1.8rem;
  }
}

.dropdown-menu {
  background: var(--sparkv-dark);
}
.dropdown-menu li a {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: rgba(255, 255, 255, 0.55) !important;
}
.dropdown-menu li a:hover {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: #fff !important;
}
.dropdown-menu li:hover a {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: #fff !important;
}
.dropdown-menu .dropdown-item:hover {
  border-radius: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: #fff !important;
  background-color: #111b35;
}
.dropdown-menu .dropdown-item:not(:last-child) {
  border-bottom: 1px solid #111b35;
}

.user-dropdown {
  align-self: center;
  padding: 0 5px 0 0;
  border-radius: 8px;
  margin-left: 22px;
  margin-right: 5px;
}
.user-dropdown .dropdown-toggle {
  padding: 0 20px 0 16px;
  display: flex;
  justify-content: flex-end;
}
.user-dropdown .dropdown-menu .dropdown-item {
  line-height: 1.8;
  padding: 0;
}
.user-dropdown .dropdown-menu .dropdown-item a {
  display: block;
  color: #ebedf2;
  font-size: 14px;
  font-weight: 600;
  padding: 9px 14px;
  text-decoration: none;
  text-align: center;
}
.user-dropdown .dropdown-menu .dropdown-item a i {
  width: 17px;
  margin-right: 7px;
  height: 17px;
  color: white;
  font-size: large;
}

.fa-twitter {
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.fa-twitter:hover {
  color: #00aced;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.fa-github {
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.fa-github:hover {
  color: #24292e;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.fa-youtube {
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.fa-youtube:hover {
  color: #f04944;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.fa-spotify {
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.fa-spotify:hover {
  color: #1db954;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.fa-discord {
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.fa-discord:hover {
  color: #7289da;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.portfolio {
  padding: 4rem 0;
}
.portfolio button {
  text-transform: capitalize;
}

.portfolio-box {
  position: relative;
  width: 100%;
  height: 18.5rem;
  overflow: hidden;
  margin-bottom: 1.2rem;
  border-top: 0.5rem solid #0042ea;
}
.portfolio-box img {
  width: 100%;
  height: 100%;
  transition-property: all;
  transition-duration: 1s;
}
.portfolio-box .portfolio-info {
  background-color: rgba(0, 37, 132, 0.75);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition-property: all;
  transition-duration: 1s;
}
.portfolio-box .portfolio-info .caption {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.portfolio-box .portfolio-info .caption h4 {
  text-transform: uppercase;
  display: block;
}
.portfolio-box:hover img {
  transform: scale(1.5);
}
.portfolio-box:hover .portfolio-info {
  opacity: 1;
  visibility: visible;
}

.footer {
  padding-top: 1rem;
  background-color: #002584;
}

.contact-box {
  position: relative;
}
.contact-box_icon {
  width: 2rem;
  stroke: #002584;
  padding-top: 0.5rem;
}
.contact-box_icon i {
  height: 100%;
  width: 100%;
}
@media (max-width: 767.98px) {
  .contact-box_icon {
    width: 4rem;
  }
}
.contact-box_info {
  padding: 0.4rem;
  font-weight: 600;
}
.contact-box_info_title {
  color: #cedf41;
  text-decoration: none;
  font-size: 1rem;
}
@media (max-width: 767.98px) {
  .contact-box_info_title {
    font-size: 1.4rem;
  }
}
.contact-box_info_subtitle {
  color: lightgrey;
  text-decoration: none;
  font-size: 0.8rem;
}
@media (max-width: 767.98px) {
  .contact-box_info_subtitle {
    font-size: 1rem;
  }
}

.footer-sm a {
  color: #cedf41;
}
.footer-sm a i {
  font-size: 1rem;
  margin-left: 1rem;
}
@media (max-width: 767.98px) {
  .footer-sm a i {
    font-size: 1.6rem;
  }
}
.footer-sm a img {
  margin-left: 1rem;
}

.campany-list {
  display: block;
  position: relative;
  list-style-type: none;
}
.campany-list li {
  margin-bottom: 0.5rem;
  text-decoration: none;
}
.campany-list li a {
  text-decoration: none;
}

.footer-bottom {
  background-color: black;
}
.footer-bottom_copyright {
  color: lightgrey;
  font-weight: 400;
}
.footer-bottom_copyright a {
  text-decoration: none;
}

.back-to-top {
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 1.875rem;
  bottom: 1.875rem;
  z-index: 9999;
}
.back-to-top i {
  color: #fff;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html,
body {
  font-family: Ubuntu, sans-serif;
  background: var(--ch1ll-dark);
}

:root {
  --ch1ll-dark: #001037;
  --ch1ll-yellow: #dee03b;
}

::selection {
  background-color: #002176;
}

::-moz-selection {
  background-color: #002176;
}

a {
  color: rgba(255, 255, 255, 0.55);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  text-decoration: none;
}

a:hover {
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
  background: #002584;
}

::-webkit-scrollbar-thumb {
  background: #cedf41;
}

::-webkit-scrollbar-thumb:hover {
  background: #cedf41;
}

/*# sourceMappingURL=style.css.map */
