.container {
    width: 100%;
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding-inline-start: var(--chakra-space-4);
    padding-inline-end: var(--chakra-space-4);
    max-width: var(--chakra-sizes-8xl);
    padding: 0 40px;
    width: 100%;
    height: 75vh;
    margin: auto;
    vertical-align: middle;
    padding: 150px 0;
    font-family: Rubik, sans-serif;
}

.container p {
    text-align: center;
}

.container code {
    background: var(--dark-blue-3);
    padding: 15px;
    border-radius: 5px;
    position: relative;
    align-content: center;
    text-align: center;
    margin: auto;
}

.container h2 {
    font-family: var(--chakra-fonts-heading);
    font-weight: var(--chakra-fontWeights-bold);
    font-size: var(--chakra-fontSizes-3xl);
    line-height: 1.33;
    margin: auto;
    text-align: center;
}