/* Navbar */
.navbar {
  display: flex;
  list-style: none;
  padding: 1rem 0 0;
  flex-direction: row;
  background: #0a1227;
}

.navbar .navbar-toggler {
  border-color: transparent !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.navbar .navbar-toggler:hover {
  background-color: var(--light-black-2);
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

.navbar li {
  position: relative;
  margin-right: 10px;
  padding: 14px 0;
}

.navbar li a {
  color: #fff;
  padding: 0 0.7rem;
  text-transform: capitalize;
  font-weight: 600;
}

.navbar li a i {
  font-size: 25px;
  vertical-align: bottom;
  margin-inline-end: 5px;
}

.navbar li:hover {
  color: #fff;
}

.navbar li>.navbar a {
  display: flex;
  padding: 0 20px 0 10px;
  height: 100%;
}

.navbar .nav-item {
  border-radius: 7px;
  transition-property: color, background-color, border-color, stroke, fill, opacity, transform, box-shadow;
  transition-duration: 200ms;
  padding: 10px 0;
  height: 40px;
  min-width: 40px;
}

.navbar .nav-item a {
  font-size: 16px;
}

.navbar .nav-item a i {
  font-size: 16px;
}

.navbar .nav-item:hover {
  background: var(--light-black-2);
}

.nav-tabs .nav-link.active {
  background-color: rgb(0, 10, 35, .3);
  border-radius: 8px;
  border-color: transparent;
}

/* .nav-tabs {
  .nav-tabs .nav-item {
    .nav-tabs .nav-item .navlink .active {
      background: rgb(0, 10, 35, .3);
      border: none;
    }

    .nav-tabs .nav-item .navlink .active:hover {
      background: rgb(0, 10, 35, .3);
      border: none;
    }
  }

  .nav-tabs .nav-item:hover {
    background: rgb(0, 10, 35, .3);
    border: none;
  }

  .nav-tabs .nav-link {
    .nav-tabs .nav-link .active {
      background: rgb(0, 10, 35, .3);
      border: none;
    }

    .nav-tabs .nav-link .active:hover {
      background: rgb(0, 10, 35, .3);
      border: none;
    }
  }

  .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:focus-visible {
    background: rgb(0, 10, 35, .3);
    border: none;
    outline: none;
  }
} */

.navbar-no-scroll {
  margin-top: 10px;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.navbar-scroll {
  margin-top: 10px;
  padding: 8px 0px;
  margin-inline-start: 24px;
  margin-inline-end: 24px;
  background: var(--dark-blue);
  box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #0000000f;
  border-radius: 12px;
  transition: all 0.4s ease 0s;
}
