@import url("https://fonts.googleapis.com/css?family=Open+Sans|Rubik|Shadows+Into+Light&display=swap");
/*!
 * Ch1llest Site v1.0.0 (https://ch1llest.ch1ll.tk/)
 * Copyright 2021-2023 KingCh1ll
 * Tailwind included in file as specified in comments.
 */

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Ch1ll Site - Root */
    :root {
        --dark-blue: #001037;
        --dark-blue-2: #000d2b;
        --dark-blue-3: #000a23;
        --light-blue: #001037;
        --light-black: #0d1014;
        --light-black-2: rgba(255, 255, 255, 0.05);
        --light-yellow: #dee03b;
        --text-light: #fff;
        --text-gray: rgba(255, 255, 255, 0.6);
    }

    body {
        background: var(--dark-blue) !important;
        font-family: "Satoshi-Regular, sans-serif" !important;
        padding: -10px 0 0 0 !important;
    }

    a {
        color: rgba(255, 255, 255, 0.55) !important;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out !important;
        text-decoration: none !important;
    }
    a:hover { color: white !important; }

    /* Image Effects */
    .shine-box { margin: 15% auto 0; }
    .shine {
        position: relative;
        width: 100%;
        height: 100%;
        transition: .5s;
        overflow: hidden;
        border-radius: 25px;
    }

    .shine span {
        position: absolute;
        top: 0;
        left: -110%;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.3);
        transition: .5s;
        transform: skewX(10deg);
    }

    .shine:hover { box-shadow: 0 30px 35px rgba(0, 0, 0, 0.7); }
    .shine:hover span { left: 110%; }

    /* Text Util */
    .ellipsis-2 {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box !important;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
    }

    /* Ch1ll Site - Headers */
    .display-hb {
        display: flex;
        align-items: center;
        position: relative;
        white-space: nowrap;
        font-size: 1.5rem;
        width: 100%;
    }

    .display-hb::after {
        content: "";
        display: block;
        position: relative;
        width: 300px;
        height: 2px;
        margin-left: 20px;
        background-color: #FFFFF7;
    }

    @media (max-width: 600px) { .display-hb::after { margin-left: 10px; } }
    @media (max-width: 768px) { .display-hb::after { width: 100%; } }
    @media (max-width: 1080px) { .display-hb::after { width: 200px; } }

    /* Ch1ll Site - Projects View */
    .portfolio-box {
        height: 100%;
        width: 100%;
        overflow: hidden;
        margin-bottom: 1.2rem;
    }

    .portfolio-box:hover .portfolio-info { opacity: 1; }
    .portfolio-box:hover img { opacity: .3; }
    .portfolio-box img { transition-property: all; transition-duration: 1s; }
    .portfolio-box img:hover { transform: scale(1.5); }

    .portfolio-info {
        transition: .5s ease;
        max-width: 120px;
        max-height: 150px;
        opacity: 0;
        position: absolute;
        transform: translate(0%, -75%);
        -ms-transform: translate(0%, -75%);
        text-align: center;
    }

    /* .portfolio-box .portfolio-info:hover {
        opacity: 1;
        visibility: visible;
        transition-property: all;
        transition-duration: 1s;
    } */

    /* Animations */
    .ani-pulse {
        height: 50px;
        width: 50px;
        position: absolute;
        opacity: 0;
        border: 3px solid white;
        border-radius: 40px;
        animation: pulse 1s ease-out;
        animation-iteration-count: infinite;
        -webkit-animation: pulse 1s ease-out;
        -webkit-animation-iteration-count: infinite;
    }

    @keyframes shine { 100% { left: 125%; } }
    @keyframes pulse {
        0% { transform: scale(1.4, 1.4); opacity: 0.0; }
        50% { opacity: 1.0; }
        100% { transform: scale(2.3, 2.3); opacity: 0.0; }
    }

    /*
        0% { transform: scale(0.1, 0.1); opacity: 0.0; }
        50% { opacity: 1.0; }
        100% { transform: scale(1.3, 1.3); opacity: 0.0; }
      */
}
