@use "./config" as *;

//-- Components --//
@use "components/buttons";
@use "components/mixins";
@use "components/text";
@use "components/dropdowns";
@use "components/icons";

//-- Sections --//
@use "sections/load";

//-- Main --//
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

html,
body {
    font-family: Rubik, sans-serif;
    background: var(--ch1ll-dark);
}

:root {
    --ch1ll-dark: #001037;
    --ch1ll-dark-light: #000d2b;
    --ch1ll-yellow: #dee03b;
}

::selection {
    background-color: #002176;
}

::-moz-selection {
    background-color: #002176;
}

a {
    color: rgba(255, 255, 255, 0.55);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    text-decoration: none;
}

a:hover {
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
    background: var(--ch1ll-dark);
}

::-webkit-scrollbar-thumb {
    background: var(--ch1ll-dark-light);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--ch1ll-dark-light);
}
